// TODO Colors

$light-green: #7ed56f;
$Madium-green: #55c57a;
$Dark-green: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// TODO Shadow
$shadow-hard: 0 1.5rem 4rem rgba($color-black, 0.15);

// TODO Font

$deafult-font-size: 1.6rem;

// TODO Grid

$grid-width: 114rem;
$grid-margin-bottom: 8rem;
$grid-center: 0 auto;
$margin-right: 6rem;
