:root {
  --primary: #eb2f64;
  --primary-light: #ff3366;
  --primary-dark: #ba265d;

  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;

  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-med: 56.25em; // 900px
$bp-small: 44.375em; // 710px
$bp-very-small: 34.0625em; // 545px
$bp-very2x-small: 28.4375em; // 455px
$bp-smallest: 25.625em; // 410px

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-light),
    var(--primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--Grey-dark-2);
  position: relative;
}
